#!/bin/sh
DATE=`date +%y%m%d`

mysqldump\
 --defaults-extra-file=/root/.my.cnf\
 --no-autocommit\
 --add-drop-table\
 --host {{ mt.db.server }}\
 --skip-extended-insert\
 --quick\
 --single-transaction\
 --default-character-set=utf8\
 --events\
 --ignore-table=mysql.event\
 --all-databases | /usr/bin/gzip > /tmp/mysqldump.$DATE.sql.gz

aws s3 cp /tmp/mysqldump.$DATE.sql.gz s3://{{ s3bucket }}/{{ dbbackupdir }}/

rm -rf /tmp/mysqldump.$DATE.sql.gz

