<virtualhost *:80>
    ServerName   {{ item.name }}
    DocumentRoot /var/www/vhosts/{{ item.name }}/htdocs
    ErrorLog      "|/usr/sbin/rotatelogs /var/www/vhosts/{{ item.name }}/logs/error_log.%Y%m%d 86400 540"
    CustomLog     "|/usr/sbin/rotatelogs /var/www/vhosts/{{ item.name }}/logs/access_log.%Y%m%d 86400 540" combined
    ScriptAlias  /cgi-bin /var/www/vhosts/{{ item.name }}/cgi-bin
    Alias        /mt-static /var/www/movabletype/mt-static
    TraceEnable  Off

{% if mt.psgi != 'ON' %}
    ScriptAlias  /mt /var/www/movabletype
{% endif %}

    <Directory /var/www/vhosts/{{ item.name }}/htdocs>
        Options -Indexes FollowSymLinks
        AllowOverride All
    </Directory>

    <Location "/mt/{{ mt.config.AdminScript }}">
        AuthType Basic
        AuthName "MovableType"
        AuthUserFile /var/www/movabletype/basic_passwd
        Require valid-user
    </Location>

{% if mt.psgi == 'ON' %}

    ProxyRequests    Off
    ProxyPass        /mt/ http://localhost:8080/mt/
    ProxyPassReverse /mt/ http://localhost:8080/mt/

{% endif %}

</virtualhost>

{% if item.letsencrypt == 'ON' %}

<VirtualHost *:443>
    ServerName   {{ item.name }}
    DocumentRoot /var/www/vhosts/{{ item.name }}/htdocs
    ErrorLog      "|/usr/sbin/rotatelogs /var/www/vhosts/{{ item.name }}/logs/error_log.%Y%m%d 86400 540"
    CustomLog     "|/usr/sbin/rotatelogs /var/www/vhosts/{{ item.name }}/logs/access_log.%Y%m%d 86400 540" combined
    ScriptAlias  /cgi-bin /var/www/vhosts/{{ item.name }}/cgi-bin
    Alias        /mt-static /var/www/movabletype/mt-static
    TraceEnable  Off

{% if mt.psgi != 'ON' %}
    ScriptAlias  /mt /var/www/movabletype
{% endif %}

    <Directory /var/www/vhosts/{{ item.name }}/htdocs>
        Options -Indexes FollowSymLinks
        AllowOverride All
    </Directory>

    RequestHeader set X_FORWARDED_PROTO "https"

    <Location "/mt/{{ mt.config.AdminScript }}">
        AuthType Basic
        AuthName "MovableType"
        AuthUserFile /var/www/movabletype/basic_passwd
        Require valid-user
    </Location>

{% if mt.psgi == 'ON' %}

    ProxyRequests    Off
    ProxyPass        /mt/ http://localhost:8080/mt/
    ProxyPassReverse /mt/ http://localhost:8080/mt/

{% endif %}

    SSLEngine on
    SSLProtocol All -SSLv3
    SSLCompression off
    SSLCipherSuite "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA TLS_RSA_WITH_AES_256_CBC_SHA TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 TLS_RSA_WITH_3DES_EDE_CBC_SHA TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA TLS_RSA_WITH_AES_128_CBC_SHA TLS_RSA_WITH_AES_128_CBC_SHA256 TLS_RSA_WITH_AES_256_CBC_SHA256 !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS"
    SSLCertificateFile /etc/letsencrypt/live/{{ item.name }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ item.name }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ item.name }}/chain.pem
</VirtualHost>

{% endif %}
